.footer {
    align-items: center;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    // margin-top: auto;
    z-index: 1;
}

.media {
    // margin-bottom: 10px;

    i {
        color: #FFF;
        &:hover {
            color: #F4474A;
        }
    }

}

.copyrights {
    color: #a8a8a8;
    font-size: 10px;
}
