.header {
    // background-color: #333;
    background-color: rgba(51, 51, 51, 0.5);
    color: #FFF;
    display: flex;
    flex-direction: column;
    min-height: $header-height;
    z-index: 10;
}

.header-content {
    align-items: center;
    // background-color: rgba(51, 51, 51, 0.5);
    // background-image: url("../../images/background.jpeg");
    // // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    display: flex;
    flex-grow: 1;
    height: 100vh;
    // height: calc(100vh - #{$header-height});
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 0;

    &:after {
        content: "";
        background-image: url("../../images/background.jpeg");
        background-size: cover;
        height: 100%;
        left: 0;
        opacity: 0.15;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    h1 {
        margin-bottom: 20px;
    }

    h2 {
        padding-top: 15px;
    }
}

.header-content__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    // transform: translateY(-50%);
    z-index: 1;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    a {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.logo-image{
    height: 50px;
    width: 50px;
}

.line {
    background-color: #F4474A;
    height: 2px;
    position: relative;
    width: 40%;

    &:after {
        border: 1px solid transparent;
        border-left: 70px solid #F4474A;
        content: '';
        height: 0;
        position: absolute;
        right: -70px;
        top: 0;
        width: 0;
    }

    &:before {
        border: 1px solid transparent;
        border-right: 70px solid #F4474A;
        content: '';
        height: 0;
        left: -70px;
        position: absolute;
        top: 0;
        width: 0;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
}

// .header-background-image {
//     background-attachment: fixed;
//     background-image: url("../../images/background.jpeg");
//     // background-position: 50%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
//     position: absolute;
//     width: 100%;
// }
