@media (min-width: 450px) {
    .nav-row {
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
        flex-direction: row;
        width: 100%;

        &:first-child {
            border-top: 2px solid #FFF;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .site-nav__link {
        width: 50%;

        &:nth-child(even) {
            border-left: 1px solid #FFF;
        }

        &:nth-child(odd) {
            border-right: 1px solid #FFF;
        }

        &:last-child {
            border-right: 2px solid #FFF;
        }
    }

    .link__contact {
        border-bottom: 2px solid #FFF;
        transform: translateX(-2px);
    }

    .site-nav__element {
        border: 0;
    }
}

@media (min-width: 850px) {
    .main-content {
        display: flex;
        width: 100%;
    }

    .header-content {
        width: 50%;
    }

    .mobile-site-nav {
        width: 50%;
    }

    .hamburger-menu {
        display: none;
    }

    .header {
        background-color: transparent;
    }

    .site-content {
        padding: 0;
    }

    .header-content {
        height: auto;
    }

    .nav-row {
        height: 33%;
    }

    .site-nav__element {
        height: 100%;
    }

    .header-background-image {
        height: calc(100% - #{$footer-height});
        width: 50%;
    }

    .link__contact {
        border-bottom: 0;
        border-right: 0;
        transform: translateX(0);
        width: 100%;
    }

    .nav-row {
        .link__contact {
            border-right: 0;
        }

        &:first-child {
            border-top: 0;
        }
    }

    .site-nav__link {
        &:nth-child(even) {
            border-right: 0;
        }

        &:nth-child(odd) {
            border-left: 2px solid #FFF;
        }
    }
}
