@media (min-width: 450px) {
    .nav-row {
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
        flex-direction: row;
        width: 100%;

        &:first-child {
            border-top: 2px solid #FFF;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .site-nav__link {
        width: 50%;

        &:nth-child(even) {
            border-left: 1px solid #FFF;
        }

        &:nth-child(odd) {
            border-right: 1px solid #FFF;
        }

        &:last-child {
            border-right: 2px solid #FFF;
        }
    }

    .link__contact {
        border-bottom: 2px solid #FFF;
        border-right: 0 !important;
        transform: translateX(-2px);
        width: 100%;
    }

    .site-nav__element {
        border: 0;
    }

    .timeline {
        margin-left: auto;
        margin-right: auto;
        width: 370px;
    }
}

@media (min-width: 500px) {
    .skill {
        border: 0;
        height: auto;
        width: auto;
    }

    .skills-container {
    }

    .skill-row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .skill-image {
        margin-left: 10px;
        margin-right: 10px;
    }

    // .main-content {
    //     background-image: url("../../images/background.jpeg");
    //     background-position: 100%;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
}

@media (min-width: 850px) {
    .main-container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100vw;

        &:after {
            background-attachment: fixed;
            background-image: url("../../images/background.jpeg");
            background-position: center center;
            background-size: cover;
            content: "";
            height: 100%;
            left: 0;
            opacity: 0.15;
            position: absolute;
            top: 0;
            width: 60%;
            z-index: -1;
        }
    }

    .main-content {
        // background-image: none;
        display: flex;
        height: calc(100vh - #{$footer-height});
        width: 60%;

        // &:after {
        //     background-attachment: fixed;
        //     background-image: url("../../images/background.jpeg");
        //     background-position: center center;
        //     background-size: cover;
        //     content: "";
        //     height: 100%;
        //     left: 0;
        //     opacity: 0.15;
        //     position: absolute;
        //     top: 0;
        //     width: 60%;
        //     z-index: -1;
        // }
    }

    .mobile-site-nav {
        height: calc(100vh - #{$footer-height});
        width: 40%;
    }

    .hamburger-menu {
        display: none;
    }

    .header {
        // background-color: transparent;
        // width: calc(60% - #{$scrollbar-width});
        width: 60%;
    }

    .site-content {
        // background-image: url("../../images/background.jpeg");
        // background-position: 100% 100%;
        // background-repeat: no-repeat;
        // background-size: cover;
        // height: calc(100vh - #{$footer-height});
        // display: flex;
        height: 100%;
        justify-content: center;
        overflow-y: auto;
        padding: 0;
        width: 100%;

        // &:after {
        //     background-image: none;
        //     content: normal;
        //     height: auto;
        //     left: auto;
        //     opacity: 1;
        //     position: static;
        //     top: auto;
        //     width: auto;
        //     z-index: auto;
        // }
    }

    .header-content {
        height: 100%;

        // &:after {
        //     background-image: none;
        //     content: normal;
        //     height: auto;
        //     left: auto;
        //     opacity: 1;
        //     position: static;
        //     top: auto;
        //     width: auto;
        //     z-index: auto;
        // }
    }

    // .header-content__title {
    //     margin-top: 50px;
    // }

    .nav-row {
        height: 33.33%;
    }

    .site-nav__element {
        height: 100%;
    }

    // .header-background-image {
    //     height: calc(100vh - #{$footer-height});
    //     width: 50%;
    // }

    .link__contact {
        border-bottom: 0;
        border-right: 0;
        transform: translateX(0);
        width: 100%;
    }

    .nav-row {
        .link__contact {
            border-right: 0;
        }

        &:first-child {
            border-top: 0;
        }
    }

    .site-nav__link {
        &:nth-child(even) {
            border-right: 0;
        }

        &:nth-child(odd) {
            border-left: 2px solid #FFF;
        }
    }

    .main {
        margin-bottom: 50px;
        margin-top: calc(#{$header-height} + 30px)
    }

    .experience {
        // margin-left: auto;
        // margin-right: auto;
        width: 100%;
    }

    .skill {
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        // z-index: 10;
    }

    .footer {
        bottom: 0;
        position: fixed;
        width: 100%;
    }
}
