.mobile-site-nav {
    display: flex;
    flex-direction: column;
}

.nav-about {
    // background-image: url("../../images/about.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/about.jpeg");
    border-top: 2px solid #FFF;
}

.nav-skills{
    // background-image: url("../../images/skills.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/skills.jpeg");
}

.nav-experience {
    // background-image: url("../../images/experience.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/experience.jpeg");
}

.nav-portfolio {
    // background-image: url("../../images/portfolio.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/portfolio.jpeg");
}

.nav-contact {
    // background-image: url("../../images/contact.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/contact.jpeg");
    border-bottom: 2px solid #FFF;
}

.nav-about,
.nav-skills,
.nav-experience,
.nav-portfolio,
.nav-contact {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150px;
}

.site-nav__element {
    align-items: center;
    border-bottom: 2px solid #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-nav__icon {
    align-items: center;
    background-color: #F4474A;
    border-radius: 50%;
    display: flex;
    height: 35px;
    justify-content: center;
    margin-bottom: 10px;
    width: 35px;

    i {
        color: #FFF;
    }
}

.site-nav__text {
    color: #FFF;
}

.navigation {
    display: flex;
    padding: 30px;
}

.navigation-panel {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.hamburger-container {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #F4474A;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation-mobile {
    // background-color: inherit;
    // background-color: rgb(244, 71, 74);
    background-color: lighten(#F4474A, 5%);
    // box-shadow: 0px 9px 32px -5px rgba(0,0,0,0.75);
    display: none;
    // position: absolute;
    width: 100%;
    z-index: 1000;
}

.navigation-mobile__link {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    display: block;

    &:first-child {
        border-top: 2px solid #FFF;
    }

    &:last-child {
        border-bottom: 2px solid #FFF;
    }
}

.navigation-mobile__element {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
    width: 220px;

    .site-nav__icon {
        background-color: #333;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .site-nav__text {
        color: #333;
        font-weight: bold;
    }
}

.nav-row {
    display: flex;
    flex-direction: column;
}
